body {
    background-color: #007BFF;
    color: white;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo img {
    max-height: 100px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
    border: 2px solid #007BFF; 
    border-radius: 15px;
    width: 70%; 
    margin: auto;
    justify-content: space-around;
    background-color: #929496;
    color: black;
}

li {
    margin-right: 20px;
    cursor: pointer;
    padding: 5px; 
    font-size: 40px;
}

li:last-child {
    margin-right: 0;
}

li:hover {
    text-decoration: underline;
    font-weight: bold;
}

footer {
    background-color: #007BFF; 
    padding: 15px;
}

ul.icones {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

ul.icones li {
    margin: 0;
}

ul.icones li a {
    display: block;
}

ul.icones li a img {
    width: 30px; 
    height: 30px;
}
